@import "./variables";

.header {
  height: $header_height;
  width: 100%;
  background-color: $dark;
  border-bottom: 1px solid $light;
  display: flex;
  padding: 0 1rem;

  position: static;
  z-index: 10;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    color: $light;
    font-family: "Montserrat";
  }
}

.brandLogo {
  margin: 0 auto;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
  font-family: "Roboto";
}

.burgerMenuContainer {
  position: absolute;
  height: $header_height;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: $header_height;
  left: 0;

  z-index: 5;

  list-style-type: none;

  display: block;
  width: 100%;
  padding: 1rem;
  background-color: $light;

  font-size: 1rem;
  font-weight: 500;
  color: $dark;

  .mobileListItem {
    margin: 1rem 0;
    cursor: pointer;
    font-weight: 500;
  }
}

.webMenu {
  display: flex;
  display: none;

  a {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 720px) {
  .mobileMenu {
    display: none;
  }

  .webMenu {
    display: flex;
  }

  .burgerMenuContainer {
    display: none;
  }

  .brandLogo {
    margin: 0;
  }

  nav {
    justify-content: space-between;
  }
}
