.h2 {
  font-family: "Lobster";
  text-align: center;
  color: $light;
}

.madeBy {
  font-family: "Poppins";
  font-size: 0.7rem;
  text-align: center;
  color: $light;
}

.home_illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  img {
    height: 160px;
    width: 160px;
  }
}
